name: Build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: yarn install --frozen-lockfile

      - name: Lint
        run: yarn run lint

      - name: Compile
        run: yarn run compile-sol

      - name: Test (Mainnet)
        env:
          CHAIN_ID: 1
          FORK_NODE_RPC_URL: ${{ secrets.MAINNET_NODE_RPC_URL }}
          FORK_BLOCK_NUMBER: 14995000
        run: yarn run test

      - name: Test (Goerli)
        env:
          CHAIN_ID: 5
          FORK_NODE_RPC_URL: ${{ secrets.GOERLI_NODE_RPC_URL }}
          FORK_BLOCK_NUMBER: 8185185
        run: yarn run test

      - name: Test (Arbitrum)
        env:
          CHAIN_ID: 42161
          FORK_NODE_RPC_URL: ${{ secrets.ARBITRUM_NODE_RPC_URL }}
          FORK_BLOCK_NUMBER: 17041250
        run: yarn run test
